/* -------------------------------------------------------------- HERO-CSS-STYLES -------------------------------------------------------------- */ 

.section-hero {
  background-color: #1f2937;
  animation: introLoad 2s forwards;
  padding: 4.8rem 0 9.6rem 0;
}
@keyframes introLoad {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.hero {
  width: 95%;
  padding: 0 1.4rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-text-box {
  width: 85%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/* ----------------------------------------------------------- BUTTON-HEADER-CSS-STYLES ----------------------------------------------------------- */ 
.button {
  display: inline-block;
  border-radius: 0.7rem;
  border: none;
  background: #3882f6;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 1.4rem;
  box-shadow: 0px 14px 56px -11px #1875ff;
  width: 14rem;
  padding: 1.2rem 2.4rem;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: "Now";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 2.55em;
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}

/* -------------------------------------------------------------- INFO-SECTION-CSS-STYLES -------------------------------------------------------------- */ 

.info-section {
  width: 100%;
  height: auto;
  padding: 2em 20% 2em 20%;
  background-color: white;
  color: #1f2937;
  margin: 10rem 0;
}
.info-header-title {
  margin-bottom: 5rem;
}
.header-line {
  width: 12%;
  height: 0.4rem;
  background-color: #1f2937;
  margin: 2rem auto;
}
.spec-item{
  width: 25rem;
  height: auto;
  padding: 1.2rem 2.4rem;
}

.info-section h2 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 2rem 0;
}

.info-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  gap: 4rem;
  font-size: 1.5rem;
}

.info-boxes figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20em;
  width: auto;
}

.info-boxes img {
  border: 4px solid #3882f6;
  border-radius: 10%;
  height: 10em;
  width: 10em;
}

.info-boxes figcaption {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  margin:1rem 0;
  width: 12em;
  padding: 1.2rem 0;
}

/* -------------------------------------------------------------- QUOTE-CSS-STYLES -------------------------------------------------------------- */ 

.quote-section {
  width: 100%;
  height: 35rem;
  background-color: #e5e7eb;
  font-size: 3.6rem;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  margin-top: 0;
  padding: 2rem 0;
  border: 1px solid #e5e7eb;
  margin: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.author-container{
  margin-top: 2rem;
}
.quotation-mark{
  position: absolute;
  width: 17.5rem;
  height: 17.5rem;
  top: 2rem;
  left: 15rem;
  color: #e5e7eb;
  opacity: 0.05;
}

.quote-section blockquote {
  width: 55%;
  margin: auto;
}

.quote-section figcaption {
  text-align: end;
  font-style: normal;
}

/* -------------------------------------------------------------- SIGN-UP-CSS-STYLES -------------------------------------------------------------- */ 

.sign-up-section {
  width: 60%;
  height: 20rem;
  background-color: #3882f6;
  border: 1px solid white;
  padding: 1.2rem 2.4rem;
  margin: 15rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.sign-up-container {
  width: 100%;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cta-header{
  font-size: 2.6rem;
  font-weight: 400;
  font-style: italic;
}

.cta-button {
  border: 2px solid white;
  background-color: #3882f6;
  color: white;
  font-size: 1.8rem;
  border-radius: 2rem;
  padding: 1.8rem 2.8rem;
  transition: all 0.4s;
  text-decoration: none;
}
.cta-button:hover{
  background-color: #f9faf8;
  color: #3882f6;
}
